<?xml version="1.0" encoding="utf-8"?>
<?pcf-stylesheet path="/_resources/xsl/default.xsl" site="templates" extension="html"?>
<!DOCTYPE document SYSTEM "http://commons.omniupdate.com/dtd/standard.dtd">

<document>
	<headcode></headcode>
	<bodycode></bodycode>
	<footcode></footcode>

	<!-- com.omniupdate.properties -->
		<title><!--%echo var="title" --></title>
	<!-- /com.omniupdate.properties -->
	<config>
		<parameter name="pagetype">news_php</parameter>
		
		<parameter name="columns" type="select" group="Everyone" prompt="Number of Columns" alt="How many columns do you want your page to have?">
		<option value="1col" selected="true">One Column</option>
		</parameter>
		<!-- com.omniupdate.properties -->
		<parameter name="rssfeed" prompt="Rss Feed" group="Everyone" alt="Path to the RSS feed location (http://....xml)."><!--%echo var="rssfeed" --></parameter>
 		<parameter name="rssfeeditems" prompt="Items to Display" group="Everyone" alt="Number of RSS feed to display."><!--%echo var="rssfeeditems" --></parameter>
 		<parameter name="sitemap" type="radio" group="Everyone" prompt="Sitemap" alt="Include page in sitemap?">
			<option value="yes" selected="true">YES</option>
			<option value="no" selected="false">NO</option>
		</parameter>		
		<!-- /com.omniupdate.properties -->
		<!-- com.omniupdate.properties -->
		<parameter name="primarynav" prompt="Primary Nav order" group="Everyone" alt="Order to appear in Primary Navigation."><!--%echo var="primarynav" --></parameter>
		<!-- /com.omniupdate.properties -->
	</config>
	<metadata>
		<!-- com.omniupdate.properties -->
			<meta name="description" content="<!--%echo var="description" -->" />
			<meta name="keywords" content="<!--%echo var="keywords" -->" />
			<meta name="author" content="<!--%echo var="author" -->" />
		<!-- /com.omniupdate.properties -->
	</metadata>
	<maincontent>

		<column_two>
		<!-- com.omniupdate.div  label="column_two"  group="Everyone"  button="707"  break="break" -->
		<!-- com.omniupdate.editor csspath="/includes/ou/editor/1column/column_two.css" cssmenu="/includes/ou/editor/content.txt" width="955" -->
		<!-- /com.omniupdate.div -->
		</column_two>

	</maincontent>
</document>
