<!-- com.omniupdate.editor csspath="/sjsu/_resources/ou/editor/standard-sidenav.css" cssmenu="/sjsu/_resources/ou/editor/standard-sidenav.txt" width="798" -->
<li><a href="/<!--%echo var="sitename" --><!--%echo var="directory/" -->index.html"><!--%echo var="title" --></a></li>
